@model TCS.BL.DTOs.SearchWordDTO

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Word" class="control-label"></label>
                <input asp-for="Word" class="form-control" autocomplete="off" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" autocomplete="off"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Count != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        La cantidad de veces que se encuentra la palabra <strong>@Model.Word</strong> es <strong>@ViewBag.Count</strong>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
